[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
python-dotenv = "*"
python-editor = "*"
Flask = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
requests = "*"
markdown = "*"
pytest = "*"
"geoalchemy2" = "*"
flask-wtf = "*"
ijson = "*"
yajl-py = "*"
python-frontmatter = "*"
"boto3" = "*"
flask-compress = "*"
flask-caching = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
