// LatLng Info Panel
// ======================

// set up
.map-wrapper {
	position: relative;
}

.lat-lng-panel {
	position: absolute;
	bottom: $gutter-half;
	left: $gutter-half;
	z-index: 1000;
	background: $page-colour;
	padding: $gutter-half;
}
