{% extends "base.html" %}
{% block title %}About an area{% endblock %}

{% block content %}

    <main id="content" role="main">

      {% from "macros/breadcrumbs.html" import render_breadcrumbs %}
      {{ render_breadcrumbs("Search for data about an area") }}

      <h1 class="heading-xlarge">Search for data about an area</h1>
      <form method="GET" action="{{ url_for('frontend.about_an_area') }}" class="form location-search-form">
        <fieldset>
          <legend>
            <h2 class="heading-medium visuallyhidden">
              Search for areas by lat/long
            </h2>
          </legend>

          {% from "macros/forms.html" import render_search_field %}

          {% if query %}
          {{ render_search_field(
              form.query.label(class="form-label-bold"),
              form.query(class="form-control location", value=query),
              "E.g. 'Brockwell Park' or click on map below",
              "There was an issue with your search. Please try again" ) }}
          {% else %}
          {{ render_search_field(
              form.query.label(class="form-label-bold"),
              form.query(class="form-control location"),
              "E.g. 'Brockwell Park' or click on map below",
              "There was an issue with your search. Please try again" ) }}
          {% endif %}

        </fieldset>
        {{ form.csrf_token }}
      </form>
      <div class="grid-row">
        <div class="column-full">
          <div class="map-wrapper">
						<div id="location-search-map" style="height: 450px;"></div>
						<div class="lat-lng-panel">
							<dl class="definition-inline">
								<dt class="query-meta">Query</dt>
								<dd class="display-query query-meta">{% if query %}{{ query }}{% else %}Lat/Long search{% endif %}</dd>
								<dt>Latitude</dt>
								<dd class="display-lat">{% if latitude %}{{ '%0.5f'| format(latitude|float) }}{% endif %}</dd>
								<dt>Longitude</dt>
								<dd class="display-lng">{% if latitude %}{{ '%0.5f'| format(longitude|float) }}{% endif %}</dd>
							</dl>

              <a class="button reload-results-btn button-load-data disabled" href="#">Reload results</a>

						</div>
					</div>
				</div>
      </div>

      <div id="results-container">

      </div>

    </main>

{% endblock %}

{% block end_body %}
    <script src="/static/javascripts/vendor/jquery-1.11.0.min.js"></script>
    <script src="/static/javascripts/geoUtils.js"></script>
    <script src="/static/javascripts/dsl-map-utils.js"></script>
    <script>

        var doSearch = function(url, lat, lng) {
            $.ajax({
                type: "GET",
                url: url,
                contentType: "text/html; charset=utf-8",
                success: function(data) {
                    $('#results-container').html(data);
                    window.history.pushState({}, "current search", "/about-an-area?latitude="+lat+"&longitude="+lng);
                }
            });
        };

      (function($, window) {
          var mymap,
              query_marker,
              $form,
              $latlngPanel;

          var resetField = function($form, fieldselector) {
          if( $form !== undefined ) {
            $form.find(fieldselector).val("");
          }
        };

        var updateLinkURL = function(linkselector, lat, lng) {
            if(lat !== undefined && lng !== undefined) {
                $( linkselector ).attr("href", "/about-an-area-query?latitude="+lat+"&longitude="+lng).removeClass("disabled");
                $( linkselector ).off('click');
                $( linkselector ).click(function(event){
                    event.preventDefault();
                    url = event.currentTarget.getAttribute('href');
                    doSearch(url, lat, lng);
                });
            }
        };

        var renderMap = function(lat, lng) {
          mymap = dslMapUtils.renderLeafletMap('location-search-map')
                             .setView([lat, lng], 12);

          mymap.on('click', function(ev){
            resetField($form, ".location");
            updateLinkURL(".reload-results-btn", ev.latlng.lat, ev.latlng.lng);
            geoUtils.performReverseGeocode(ev.latlng.lat, ev.latlng.lng, function(data) {
              displayLatLng(data);
            });
          });
        };

        var displayLatLng = function(data) {
  				var $query_meta = $latlngPanel.find(".query-meta");
          $query_meta.show();
  				if( data.query ) {
  					$latlngPanel.find(".display-query").text( data.query );
  				} else if (data.address) {
            $latlngPanel.find(".display-query").text( data.address );
          } else {
  					$query_meta.hide();
  				}
  				$latlngPanel.find(".display-lat").text( geoUtils.roundLatLng(data.lat, 5) );
  				$latlngPanel.find(".display-lng").text( geoUtils.roundLatLng(data.lng, 5) );
          dslMapUtils.updateMarkerPos( query_marker, mymap, data.lat, data.lng, true);
  			};

        var updateSearchQueryCallback = function(data) {
          var $location_input = $form.find(".location"),
              $form_group = $form.find(".form-group-search");
          if( data.success ) {
            $location_input.removeClass("form-control-error");
            $form_group.removeClass("form-group-error");
            updateLinkURL(".reload-results-btn", lat=data.lat, long=data.lng);
            displayLatLng(data);
          } else {
            $form_group.addClass("form-group-error");
            $location_input.addClass("form-control-error");
          }
        };

        $(function() {
          geoUtils.init({
            urls: {
              geocode: "{{ url_for('frontend.geocode') }}",
              reversegeocode: "{{ url_for('frontend.reverse_geocode') }}"
            }
          });

          dslMapUtils.init({
            mapbox_token: '{{ config.MAPBOX_TOKEN }}'
          });

            $form = $(".location-search-form");
            $latlngPanel = $(".lat-lng-panel");

            $form.on("submit", function (e) {
              geoUtils.performGeocode($form.find(".location").val(), updateSearchQueryCallback);
              e.preventDefault();
            });

            {% if latitude %}
            var start_place = {
              lat: {{ latitude }},
              lng: {{ longitude }}
            }
            {% else %}
            var start_place = {
              lat: 54.29159,
              lng: -1.99674
            };
            {% endif %}
            renderMap(start_place.lat, start_place.lng);
            query_marker = dslMapUtils.addMarkerToMap(mymap, start_place.lat, start_place.lng);
            var url = "/about-an-area-query?latitude="+ start_place.lat +"&longitude="+ start_place.lng;
            doSearch(url, start_place.lat, start_place.lng);
            displayLatLng(start_place);
        });

      }).call(this, jQuery, window);

    </script>

{% endblock %}