{% extends "base.html" %}
{% block title %}About an area{% endblock %}

{% block content %}

    <main id="content" role="main">

      {% from "macros/breadcrumbs.html" import render_breadcrumbs %}
      {{ render_breadcrumbs("Search for data about an area") }}

      <h1 class="heading-xlarge">Search for data about an area</h1>
      <form method="GET" action="{{ url_for('frontend.about_an_area') }}" class="form location-search-form">
        <fieldset>
          <legend>
            <h2 class="heading-medium visuallyhidden">
              Search for areas by lat/long
            </h2>
          </legend>

          {% from "macros/forms.html" import render_search_field %}

          {% if query %}
          {{ render_search_field(
              form.query.label(class="form-label-bold"),
              form.query(class="form-control location", value=query),
              "E.g. 'Brockwell Park' or click on map below",
              "There was an issue with your search. Please try again" ) }}
          {% else %}
          {{ render_search_field(
              form.query.label(class="form-label-bold"),
              form.query(class="form-control location"),
              "E.g. 'Brockwell Park' or click on map below",
              "There was an issue with your search. Please try again" ) }}
          {% endif %}

        </fieldset>
        {{ form.csrf_token }}
      </form>
      <div class="grid-row">
        <div class="column-full">
          <div class="map-wrapper">
						<div id="location-search-map" style="height: 450px;"></div>
						<div class="lat-lng-panel">
							<dl class="definition-inline">
								<dt class="query-meta">Query</dt>
								<dd class="display-query query-meta">{% if query %}{{ query }}{% else %}Lat/Long search{% endif %}</dd>
								<dt>Latitude</dt>
								<dd class="display-lat">{% if latitude %}{{ '%0.5f'| format(latitude|float) }}{% endif %}</dd>
								<dt>Longitude</dt>
								<dd class="display-lng">{% if latitude %}{{ '%0.5f'| format(longitude|float) }}{% endif %}</dd>
							</dl>

              <a class="button reload-results-btn button-load-data disabled" href="#">Reload results</a>

						</div>
					</div>
				</div>
      </div>

      <div id="results-container">

      </div>

    </main>

{% endblock %}

{% block end_body %}
    <script src="/static/javascripts/vendor/jquery-1.11.0.min.js"></script>
    <script src="/static/javascripts/geoUtils.js"></script>
    <script src="/static/javascripts/dsl-map-utils.js"></script>
    <script src="/static/javascripts/search-map.js"></script>
    <script>

      (function($, window) {

        $(function() {
          geoUtils.init({
            urls: {
              geocode: "{{ url_for('frontend.geocode') }}",
              reversegeocode: "{{ url_for('frontend.reverse_geocode') }}"
            }
          });

          dslMapUtils.init({
            mapbox_token: '{{ config.MAPBOX_TOKEN }}'
          });

          {% if latitude %}
          var start_place = {
            lat: {{ latitude }},
            lng: {{ longitude }}
          }
          {% else %}
          var start_place = {
            lat: 54.29159,
            lng: -1.99674
          };
          {% endif %}

          searchMap.initializeMap({
            place: start_place,
            form_selector: '.location-search-form',
            latlng_panel_selector: '.lat-lng-panel',
            map_selector: 'location-search-map',
            result_btn_selector: '.reload-results-btn',
            results_page: true
          });

        });

      }).call(this, jQuery, window);

    </script>

{% endblock %}