{% extends "base.html" %}
{% block title %}{{ attribution.attribution }}{% endblock %}
{% block content %}
    <div id="content" role="main">
        <h1 class="heading-xlarge">{{ attribution.attribution }}</h1>
        <div class="grid-row">
            <div class="column-full">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>url</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ attribution.name }}</td>
                            <td>{% if attribution.url %}
                                <a href="{{ attribution.url }}">attribution url</a>
                            {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

