{% extends "base.html" %}
{% block title %}Test geo queries{% endblock %}

{% block end_head %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin=""></script>

{% endblock %}

{% block content %}
    <div id="content" role="main">
        <h1 class="heading-xlarge">Find areas</h1>
        <div class="grid-row">

					<div class="column-half">
						<h2 class="heading-medium">Search for areas by lat/long</h2>
						<div id="geoquery-map" style="height: 350px;"></div>
					</div>

            <div class="column-half">
               <div class="form-group">
                   <form method="POST" action="{{ url_for('frontend.find_area') }}" class="find-area-form">
                       <fieldset>
                           <legend>
                                <h2 class="heading-medium visuallyhidden">
                                   Search for areas by lat/long
                                </h2>
                           </legend>
                           <p class="form-hint">
                               Either click on the map
															 <br />or enter lat and long values (e.g. 54.29159, -1.99674)
                               <br />
                               (which happens to be Aysgarth in Yorkshire Dales National Park and Richmondshire District Council)
															 <br />
                           </p>
													 <div class="form-group">
                           {{ form.latitude.label(class="form-label")  }}
                           {{ form.latitude(class="form-control") }}

                           {{ form.longitude.label(class="form-label") }}
                           {{ form.longitude(class="form-control") }}
													 </div>
                       </fieldset>
                       <button style="margin-top: 5px" class="button" type="submit">Search</button>
                       {{ form.csrf_token }}
                    </form>
                </div>
            </div>

				</div>
				<div class="grid-row">
					{% if results %}
					<div class="column-full">
						<header class="results-head">
							<h2 class="heading-medium">{{ results | length }} Results</h2>
						</header>
					</div>

					<div class="column-half">
						{% for result in results %}
						<div class="results">
	            <div id="mapid_{{ loop.index }}" style="width: 400px; height: 300px;"></div>
	            <h3 class="heading-small">Details</h3>
	            <ul class="details">
								<li>
									Area: <a href="{{ url_for('frontend.area', id=result.area.area) }}">{{ result.area.area }}</a>
								</li>
								{% if result.organisation %}
								<li>
									Organisation: <a href="{{ url_for('frontend.organisation', id=result.organisation.organisation) }}">{{ result.organisation.name }}</a>
								</li>
								{% endif %}
							</ul>
						</div>
						{% endfor %}
					</div>
				
					{% else %}
					<h2 class="heading-medium">{% if message %}{{ message }}{% endif %}</h2>
					{% endif %}
        </div>

    </div>
{% endblock %}

{% block end_body %}
				<script src="/static/javascripts/vendor/jquery-1.11.0.min.js"></script>
				<script>
					/* default place vals */
					var place = {
						lat: 54.29159,
						lng:  -1.99674,
						zoom: 12,
						current_query: false
					};

					/* reduce lat or lng number to desirable 
					   number of decimal places */
					var roundLatLngVal = function(latlng, decs) {
						return parseFloat(latlng.toFixed(decs));
					}

					/* Given map
					   create marker at lat and lng
					   return marker ref */
					var addMarkerToMap = function(map, lat, lng) {
						var marker = L.marker([lat, lng]);
						map.addLayer(marker);
						return marker;
					}

					/* update lat and lng in form and
					   update marker pos */
					var setLatLng = function(ev){
						var lat = roundLatLngVal(ev.latlng.lat, 5),
								lng = roundLatLngVal(ev.latlng.lng, 5);
						$queryForm.find("#latitude").val( lat );
						$queryForm.find("#longitude").val( lng );
						mymap.removeLayer(query_marker);
						query_marker = addMarkerToMap(mymap, lat, lng);
					}

					/* My Leaflet vars */
					var mymap;
					var query_marker;

					/* renders the initial map
					   adds click handler */
					var renderMap = function(){
						mymap = L.map('geoquery-map').setView([place.lat, place.lng], place.zoom);

	          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ config.MAPBOX_TOKEN }}', {
	              attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	              maxZoom: 18,
	              id: 'mapbox.streets',
	              accessToken: '{{ config.MAPBOX_TOKEN }}'
	          }).addTo(mymap);

						query_marker = addMarkerToMap(mymap, place.lat, place.lng);

						mymap.on('click', setLatLng);
					};

					{% if form.latitude.data is defined and form.latitude.data != None %}
					place.lat = {{ form.latitude.data }};
					place.lng = {{ form.longitude.data }};
					place.current_query = true;
					{% endif %}

					var $queryForm = jQuery(".find-area-form");

					/* check if geolocation available
					   and not current query */
					if ("geolocation" in navigator && !place.current_query) {
						navigator.geolocation.getCurrentPosition(function(position) {
						  place.lat = position.coords.latitude;
							place.lng = position.coords.longitude;
							renderMap();
						});
					} else {
						renderMap();
					}

				</script>

    {% for result in results %}
        <script>
            var map = L.map('mapid_{{ loop.index  }}');

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ config.MAPBOX_TOKEN }}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: '{{ config.MAPBOX_TOKEN }}'
            }).addTo(map);

            {%  if form.latitude.data and form.longitude.data  %}
                L.marker([{{ form.latitude.data }}, {{ form.longitude.data }}]).addTo(map);
            {% endif %}

            geojsonLayer = L.geoJSON({{ result.area.data | tojson }}).addTo(map);
            map.fitBounds(geojsonLayer.getBounds());

        </script>
    {% endfor %}
{% endblock %}
