{% extends "base.html" %}
{% block title %}Digital Land Explorer{% endblock %}
{% block content %}

    <header class="hero">
		<div class="hero_content">
			<h1 class="heading-xlarge">Digital Land Explorer</h1>
			<p class="lede text">
				Some organisations, publications and data sets related to land
			</p>
		</div>
	</header>

    <div id="content" role="main">

        <div class="grid-row row">

            <div class="column-one-third">
                <span class="data-item font-medium areas">Areas</span>
                <ul class="list-bullet">
                    <li><a href="{{ url_for('frontend.find_area') }}">Find areas</a></li>
                </ul>

            </div>
        </div>

    </div>
{% endblock %}

