{% extends "base.html" %}
{% block title %}Digital Land Explorer{% endblock %}
{% block content %}
    <div id="content" role="main">
        <h1 class="heading-xlarge">Digital Land Explorer</h1>
        <div class="grid-row">

            <div class="column-one-third">
                <h2 class="heading-small"><a href="{{ url_for('frontend.organisations') }}">Organisations</a></h2>
                <ul>
                    <li><a href="{{ url_for('frontend.organisation_by_type', org_type='local-authority') }}">Local Authorities</a></li>
                    <li><a href="{{ url_for('frontend.organisation_by_type', org_type='government-organisation') }}">Government organisations</a></li>
                </ul>
            </div>

            <div class="column-one-third">
                <h2 class="heading-small"><a href="#">Publications</a></h2>
                <ul>
                    {% for publication in publications %}
                        <li><a href="{{ url_for('frontend.publication', publication_id=publication.publication) }}">
                            {{ publication.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="column-one-third">
                <h2 class="heading-small"><a href="#">Areas</a></h2>
                <ul>

                </ul>
            </div>

        </div>
    </div>
{% endblock %}

