{% extends "base.html" %}
{% block title %}{{ organisation.organisation }}{% endblock %}

{% block end_head %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin=""></script>

{% endblock %}

{% block content %}
    <div id="content" role="main">

        <div class="grid-row">
            <h1 class="heading-xlarge">{{ organisation.organisation   }}</h1>
            <h2 class="heading-medium">{{ organisation.name }}</h2>
        </div>

        {% if organisation.area %}
            <div class="grid-row">
                <div class="column-full">
                    <h2 class="heading-small">Area</h2>
                    <div id="mapid" style="width: 600px; height: 400px;"></div>
                    <!-- TODO map here-->
                </div>
            </div>
        {% endif %}

        {% if organisation.publications %}
                <div class="grid-row">
                    <div class="column-full">
                        <!-- TODO list publications -->
                    </div>
                </div>
        {% endif %}

    </div>
{% endblock %}

<!-- pk.eyJ1IjoiYWRhbXNoaW1hbGkiLCJhIjoiY2poMjB2NWs4MGI4aTJ3bG5sOGdkM3puNyJ9.cNhwxgjFkXMuxSOMNFBKQg -->

{% block end_body %}
    <script>
        var map = L.map('mapid');

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ config.MAPBOX_TOKEN }}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: '{{ config.MAPBOX_TOKEN }}'
        }).addTo(map);

        geojsonLayer = L.geoJSON({{ organisation.feature() | tojson }}).addTo(map);
        map.fitBounds(geojsonLayer.getBounds());


    </script>
{% endblock %}

