{% extends "base.html" %}
{% block title %}Organisations{% endblock %}
{% block end_head %}
<link rel="stylesheet" href="/static/stylesheets/accessible-autocomplete.min.css" />
{% endblock %}
{% block content %}
    <div id="content" role="main">
      {% from "macros/breadcrumbs.html" import render_breadcrumbs %}
      {{ render_breadcrumbs("organisations") }}
        <h1 class="heading-xlarge">
          <span class="heading-secondary">Explore</span>
          Organisations</h1>

        <div class="grid-row">
          <form class="form org-search-form column-half">
            <div class="form-group">
              <label class="form-label-bold" for="org-picker">Find an organisation
                <span class="form-hint">Enter organisation's name ("Lambeth Council", for example)</span></label>
              <select name="org-picker" id="org-picker">
                <option value="">Select organistion</option>
                {% for org in organisations %}
                <option value="{{ org.organisation }}">{{ org.name }}</option>
                {% endfor %}
              </select>
              <a href="{{ url_for('frontend.organisations') }}" class="button button-close button-filter-table">View organisation</a>
            </div>
          </form>
        </div>

        <div class="grid-row">
            <div class="column-full">
                <table class="org-table">
                    <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th>Organisation identifier</th>
                      <th>Website</th>
                      <th class="numeric">Publications</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for org in organisations %}
                        <tr class="org-row" data-name="{{ org.name }}" data-identifier="{{ org.organisation }}">
                          <td scope="row"><a href="{{ url_for('frontend.organisation', id=org.organisation) }}">{{ org.name }}</a></td>
                          <td>{{ org.organisation }}</td>
                          <td>{% if org.website %}<a href="{{ org.website }}">Site</a>{% endif %}</td>
                          <td class="numeric">{{ org.publications|length }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_body %}
<script src="/static/javascripts/vendor/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  (function($, window) {
    var base_url = "/organisations/";

    const orgs = [];

    function findMatches(strToMatch, orgs) {
      return orgs.filter(orgrow => {
        const regex = new RegExp(strToMatch, 'gi');
        return orgrow.dataset.name.match(regex);
      });
    }

    $(function() {
      var $form = $(".org-search-form");
      $form.find('.button-filter-table').hide();

      orgs.push(...document.querySelectorAll('.org-row'));

      accessibleAutocomplete.enhanceSelectElement({
        defaultValue: '',
        confirmOnBlur: false,
        selectElement: document.querySelector('#org-picker'),
        onConfirm: function(val) {
          const matchedOrgs = findMatches(val, orgs);
          orgs.forEach((el) => el.classList.add("visually-hidden"));
          matchedOrgs.forEach((el) => el.classList.remove("visually-hidden"));
        }
      })
    });
  }).call(this, jQuery, window);
</script>
{% endblock %}

