{% extends "base.html" %}
{% block title %}{{ publication.publication }}{% endblock %}
{% block content %}
    <div id="content" role="main">
        <h1 class="heading-xlarge">{{ publication.name }}</h1>
        <div class="grid-row">
            <div class="column-full">
                <table>
                    <thead>
                        <tr>
                            <th>Publication</th>
                            <th>Name</th>
                            <th>Organisation</th>
                            <th>url</th>
                            <th>Data url</th>
                            <th>Licence</th>
                            <th>Attribution</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ publication.publication }}</td>
                            <td>{{ publication.name }}</td>
                            <td>
                                {% if publication.organisation %}
                                     <a href="{{ url_for('frontend.organisation', id=publication.organisation.organisation) }}">
                                {{ publication.organisation.name }}</a>
                                {% endif %}
                            </td>
                            <td><a href="{{ publication.url }}">publication url</a></td>
                            <td><a href="{{ publication.data_url }}">data url</a></td>
                            <td><a href="{{ url_for('frontend.licence', id=publication.licence.licence) }}">{{ publication.licence.name }}</a></td>
                            <td><a href="{{ url_for('frontend.attribution', id=publication.attribution.attribution) }}">{{ publication.attribution.name }}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

