{% extends "base.html" %}
{% block title %}{{ publication.publication }}{% endblock %}
{% block content %}
    <div id="content" role="main">
        <h1 class="heading-xlarge">{{ publication.publication }}</h1>
        <div class="grid-row">
            <div class="column-full">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Organisation</th>
                            <th>url</th>
                            <th>Data url</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ publication.name }}</td>
                            <td><a href="{{ url_for('frontend.local_authority', org_id=publication.organisation.organisation) }}">
                                {{ publication.organisation.organisation }}</a>
                            </td>
                            <td><a href="{{ publication.url }}">publication url</a></td>
                            <td><a href="{{ publication.data_url }}">data url</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

