{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block content %}
    <div id="content" role="main">
      {% from "macros/breadcrumbs.html" import render_breadcrumbs %}
      {{ render_breadcrumbs("publications") }}
        <h1 class="heading-xlarge">
          <span class="heading-secondary">Explore</span>
          Publications</h1>
        <div class="grid-row">
          <div class="column-one-half">
            <div class="data">
              <span class="data-item bold-xxlarge">{{ publications|length }}</span>
              <span class="data-item bold-xsmall">Publications</span>
            </div>
          </div>
          <div class="column-one-quarter">
            <div class="data">
              <span class="data-item bold-xxlarge">{{ org_num }}</span>
              <span class="data-item bold-xsmall">Organisations</span>
            </div>
          </div>
          <div class="column-one-quarter">
            <div class="data">
              <span class="data-item bold-xxlarge">{{ lic_num }}</span>
              <span class="data-item bold-xsmall">Licences</span>
            </div>
          </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Identifier</th>
                            <th>Publisher</th>
                            <th>Licence</th>
                            <th>Copyright</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                   {% for publication in publications %}
                       <tr>
                           <td>{{ publication.name }}</td>
                           <td><a href="{{ url_for('frontend.publication', id=publication.publication ) }}">{{ publication.publication }}</a></td>
                           <td>
                               {% if publication.organisation %}
                                    <a href="{{ url_for('frontend.organisation', id=publication.organisation.organisation) }}">{{ publication.organisation.name }}</a>
                               {% endif %}
                           </td>
                           <td><a href="{{ url_for('frontend.licence', id=publication.licence.licence) }}">{{ publication.licence.name }}</a></td>
                           <td><a href="">{{ publication.attribution.name }}</a></td>
                           <td><a href="">{{ publication.category.category }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

