{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block end_head %}
<link rel="stylesheet" href="/static/stylesheets/accessible-autocomplete.min.css" />
{% endblock %}
{% block content %}
    <div id="content" role="main">
      {% from "macros/breadcrumbs.html" import render_breadcrumbs %}
      {{ render_breadcrumbs("publications") }}
  
      {% from "macros/data.html" import render_data_component %}
        <h1 class="heading-xlarge">
          <span class="heading-secondary">Explore</span>
          Publications</h1>
        <div class="grid-row">
          <div class="column-one-half">
            {{ render_data_component(publications|length, "Publications") }}
          </div>
          <div class="column-one-quarter">
            {{ render_data_component(org_num, "Organisations", url_for('frontend.organisations')) }}
          </div>
          <div class="column-one-quarter">
            {{ render_data_component(lic_num, "Licences", url_for('frontend.licences')) }}
          </div>
        </div>

        <div class="filter-section">
          <h3 class="heading-small visually-hidden">Find a publication</h3>
          <div class="grid-row">
            <form class="form pub-search-form column-half">
              <div class="form-group">
                <label class="form-label-bold" for="pub-picker">Find a publication
                  <span class="form-hint">Enter publication's name ("Lambeth Local Views", for example)</span>
                </label>
                <select name="pub-picker" id="pub-picker">
                  <option value="">Select publication</option>
                  {% for pub in publications %}
                  <option value="{{ pub.publication }}">{{ pub.name }}</option>
                  {% endfor %}
                </select>
                <a href="{{ url_for('frontend.publications') }}" class="button button-close button-filter-table">View publication</a>
              </div>
            </form>
          </div>
        </div>
        
        <div class="grid-row">
            <div class="column-full">
                <table class="pub-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Identifier</th>
                            <th>Publisher</th>
                            <th>Licence</th>
                            <th>Copyright</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                   {% for publication in publications %}
                       <tr data-name="{{ publication.name }}" data-identifier="{{ publication.publication }}">
                           <td>{{ publication.name }}</td>
                           <td><a href="{{ url_for('frontend.publication', id=publication.publication ) }}">{{ publication.publication }}</a></td>
                           <td>
                               {% if publication.organisation %}
                                    <a href="{{ url_for('frontend.organisation', id=publication.organisation.organisation) }}">{{ publication.organisation.name }}</a>
                               {% endif %}
                           </td>
                           <td><a href="{{ url_for('frontend.licence', id=publication.licence.licence) }}">{{ publication.licence.name }}</a></td>
                           <td><a href="">{{ publication.copyright.name }}</a></td>
                           <td><a href="">{{ publication.category.category }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_body %}
<script src="/static/javascripts/vendor/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  (function($, window) {
    var base_url = "/publications/";
    $(function() {
      var $form = $(".pub-search-form");
      $form.find('.button-filter-table').hide();

      accessibleAutocomplete.enhanceSelectElement({
        defaultValue: '',
        confirmOnBlur: false,
        selectElement: document.querySelector('#pub-picker'),
        onConfirm: function(val) {
          console.log("type ahead change", val);
          var identifier = $(".pub-table tr").filter(function(ind, el){
            if( $(el).data('name') === val ) {
              return el;
            }
          }).data('identifier');
          $form
            .find(".button")
              .attr('href', base_url + identifier)
              .show();
        }
      })
    });
  }).call(this, jQuery, window);
</script>
{% endblock %}
