.result {
  margin-top: $gutter;
  padding: $gutter-half;
  border: 1px solid $grey-3;
}

ul.details {
  margin-top: 10px
}

.row {
  padding: 25px 0px;
}

.list-bullet {
    list-style-type: disc;
    padding-left: 20px;
    padding-top: 5px;
}

.areas {
  text-decoration: underline;
  color: #005ea5;
}
