.results {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid $grey-3;
}

ul.details {
  margin-top: 10px
}

#content, .full-page-width-container {
  max-width: 960px;
  margin: 0 15px;
}

@media (min-width: 641px) {
  #content, .full-page-width-container {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  #content, .full-page-width-container {
    margin: 0 auto;
  }
}

.row {
  padding: 25px 0px;
}

.list-bullet {
    list-style-type: disc;
    padding-left: 20px;
    padding-top: 5px;
}

.areas {
  text-decoration: underline;
  color: #005ea5;
}