// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/static/govuk_template/images/";

// Import all the govuk-elements partials listed in _govuk-elements.scss
@import "govuk-elements";

@import "additional";
@import "components/hero";
@import "components/definition-list";
@import "components/filter-section";
@import "components/related-section";
@import "components/meta-data-panel";

.column-three-quarters {
  @include grid-column(3 / 4);
}

.find-area-form {
	margin-top: $gutter;
	@include media(tablet) {
		// margin-top: em(95); seems to be making it 80px
		margin-top: 95px;
	}	
}

.results-head {
	margin-top: $gutter*2;
	border-top: 1px solid $border-colour;

	&__heading {
		margin-top: $gutter-half;
	}
}

.map-wrapper {
	position: relative;
}

.lat-lng-panel {
	position: absolute;
	bottom: $gutter-half;
	left: $gutter-half;
	z-index: 1000;
	background: $page-colour;
	padding: $gutter-half;
}

.search-form-control-wrapper {
  position: relative;
}

.button-search {
  background: $text-colour;
  position: absolute;
  right: 0;
  top: 0;
  @include box-shadow(none);
}

.button-load-data {
  @include button($govuk-blue);
  margin-top: 5px;
}

.button-close {
  margin-top: 5px;
}

.location {
  width: 100%;
}

.form-group {
  .error-message {
    display: none;
  }
}
.form-group-error {
  .error-message {
    display: block;
  }
}

// temp styles for publication
// content
.contents-section {
  padding-left: $gutter;
  li {
    margin-left: $gutter-half;
  }
}

.pub-info-section__heading {
  margin: 0;
}