// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/static/govuk_template/images/";

// Import all the govuk-elements partials listed in _govuk-elements.scss
@import "govuk-elements";

@import "additional";
@import "components/hero";
@import "components/definition-list";
@import "components/filter-section";
@import "components/related-section";
@import "components/meta-data-panel";
@import "components/latlng-panel";
@import "components/loader";

@import "common/forms";
@import "common/layout";

$gutter-third: $gutter/3;

* {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif !important;
}

.data-item a {
  color: $text-colour;
}

.find-area-form {
	margin-top: $gutter;
	@include media(tablet) {
		// margin-top: em(95); seems to be making it 80px
		margin-top: 95px;
	}	
}

.results-head {
	margin-top: $gutter*2;
	border-top: 1px solid $border-colour;

	&__heading {
		margin-top: $gutter-half;
	}
}

.search-form-control-wrapper {
  position: relative;
}

.button-search {
  background: $text-colour;
  position: absolute;
  right: 0;
  top: 0;
  @include box-shadow(none);
}

.location {
  width: 100%;
}

// temp styles for publication
// content
.contents-section {
  padding-left: $gutter;
  li {
    margin-left: $gutter-half;
  }
}

.pub-info-section:first-of-type {
  .pub-info-section__heading {
    margin: 0;
  }
}
.leaflet-map-wrapper {
  position: relative;
}
.leaflet-map {
  width: 100%;
  height: 400px;
}

.dataset-info-panel {
  background: $page-colour;
  position: absolute;
  width: 30%;
  top: $gutter-third;
  right: $gutter-third;
  bottom: $gutter-third*2;
  overflow: scroll;
  z-index: 400;
}
.properties-panel {
  padding: 0 $gutter-half $gutter-half;

  .heading-medium {
    margin-top: $gutter-half;
  }

  dl {
    @include core-16;
    dt {
      font-weight: bold;
      &:after {
        content: ':';
      }
    }
    dd {
      margin-bottom: 5px;
    }
  }
}

.amount-showing-panel {
  background: $text-colour;
  color: $page-colour;
  padding: 5px $gutter-half 3px;
  margin-bottom: $gutter-half;
  p {
    margin: 0;
  }
}

.leaflet-form {
  font-size: 16px;
  .form-control {
    width: 100%;
  }
  .button-search {
    margin-right: -75px;
    padding-top: 10px;
    padding-bottom: 8px;
  }
}

